body {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'NHaasGroteskDSPro-65Md' !important;
	/* Optional font style */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* carousel size change */
#carousel {
	max-height: 450px;
}

/* @media (max-width: 600px) {
    .carousel-caption form {
        flex-direction: column;
        align-items: center;
    }

    .carousel-caption .form-control,
    .carousel-caption .btn {
        width: 100%;
    }
} */


::-webkit-scrollbar {
	width: 2px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}



.table-wrapper::-webkit-scrollbar {
    /* width: 2px;  Make scrollbar thinner */
    /* height: 3px;  If you have horizontal scrollbar */
}

.table-wrapper::-webkit-scrollbar-track {
    /* background: #222222;  Light background for the track */
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: transparent;  /* Darker color for the thumb */
    border-radius: 10px;  /* Optional: rounded edges */
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent;  /* Darker on hover */
}